In [1]:
s1="python1"
s2=s1
s3="java"
s4="python1"
s5="apple"

In [2]:
s1="rabbit"
s2=s1
s1="apple"
print s2

rabbit

In [4]:
s1="rabbit"
s2=s1
s1="apple"
print s1[0]
print s2[1]
print id(s1[0])
print id(s2[1])

a
a
47066928
47066928

In [6]:
s1="python program"
print s1[6]
print s1[5]

n

In [7]:
s1="Python1"
s2=s1
s1="python2"
print id(s2[0])
print id(s1[0])

47066808
47002488

In [8]:
a=1000
print a,type(a)
a=10.23
print a,type(a)
a="python"
print a,type(a)
a=[10,20,30]
print a,type(a)
a=(10,20,30)
print a,type(a)
a={"name":"anil","age":23}
print a,type(a)

1000 <type 'int'>
10.23 <type 'float'>
python <type 'str'>
[10, 20, 30] <type 'list'>
(10, 20, 30) <type 'tuple'>
{'age': 23, 'name': 'anil'} <type 'dict'>