In [1]:
f=open("data.csv","w")

In [2]:
f.write("Arun kumar")

In [3]:
f.close()

In [15]:
f=open("data.csv","w")
f.write("PYTHON")
f.close()

In [18]:
f=open("data.csv","w")
f.write("Arun,24,12345\n")
f.write("Ashok,23,4567")
f.flush()

In [20]:
# To add the data to existing file 
f=open("data.csv","a")
f.write("\nPraveen,25,2345")
f.flush()

In [22]:
l=["\nAmara,25,12345","\nKrishna,25,23456","\nSatya,56,23456"]
f=open("data.csv","a")
f.writelines(l)
f.close()

In [23]:
l=["\nAmara,25,12345","\nKrishna,25,23456","\nSatya,56,23456"]
f=open("data.csv","a")
f.writelines(l)
f.flush()

In [ ]:
d=[{"name":"Arun","Age:23","name":"kumar","Age":30}]

In [24]:
f=open("data.csv","r")
data=f.read()
print data

Arun,24,12345
Ashok,23,4567Praveen,25,2345
Praveen,25,2345Amara,25,12345Krishna,25,23456Satya,56,23456
Amara,25,12345
Krishna,25,23456
Satya,56,23456
Amara,25,12345
Krishna,25,23456
Satya,56,23456

In [25]:
type(data)

str

In [26]:
f=open("data.csv","r")
data=f.readlines()
print data

['Arun,24,12345\n', 'Ashok,23,4567Praveen,25,2345\n', 'Praveen,25,2345Amara,25,12345Krishna,25,23456Satya,56,23456\n', 'Amara,25,12345\n', 'Krishna,25,23456\n', 'Satya,56,23456\n', 'Amara,25,12345\n', 'Krishna,25,23456\n', 'Satya,56,23456']

In [28]:
f=open("data.csv","r")
data=f.read()
data1=f.read()
print data
print data1

Arun,24,12345
Ashok,23,4567Praveen,25,2345
Praveen,25,2345Amara,25,12345Krishna,25,23456Satya,56,23456
Amara,25,12345
Krishna,25,23456
Satya,56,23456
Amara,25,12345
Krishna,25,23456
Satya,56,23456

In [29]:
f=open("data.csv","r")
print f.tell()
data=f.read(20)
print data
print f.tell()

0
Arun,24,12345
Ashok,
21

In [30]:
f=open("data.csv","r")
print f.tell()
data=f.read(10)
print data
print f.tell()
data1=f.read(20)
print data1
print f.tell()

0
Arun,24,12
10
345
Ashok,23,4567Pra
31

In [2]:
# Practice
f=open("data1","w")
f.write("Arun Kumar")
f.close()

In [3]:
# Practice
f=open("data1","w")
f.write("Python")
f.close()

In [11]:
# Practice
f=open("data1","a")
f.write("\n Arun Kumar")
f.close()

In [14]:
# Practice
l=["\n swetha","\nIksha","\nVedh"]
f=open("data1","a")
f.writelines(l)
f.close()

In [15]:
# Practice
f=open("data1","r")
data=f.read()
print data

Python
 Arun Kumar
 swetha
Iksha
Vedh

In [17]:
# Practice
f=open("data1","r")
data=f.read(5)
print data
data=f.read(10)
print data

Pytho
n
 Arun Ku

In [20]:
# Practice
f=open("data1","r")
data=f.read(5)
print data
print f.tell()
data=f.read(10)
print data
print f.tell()

Pytho
5
n
 Arun Ku
16

In [21]:
print "a"

a