In [1]:
cust_name=raw_input("Enter your name:")
Cust_age=raw_input("Enter your age:")
cust_height=raw_input("Enter your Height:")
print "Customer Name is:",cust_name
print "Customer Age is:",cust_age
print "customer Height:",cust_height

Enter your name:Arun
Enter your age:30
Enter your Height:30
Customer Name is: Arun
Customer Age is:

NameError: name 'cust_age' is not defined

In [2]:
cust_name=raw_input("Enter your name:")
Cust_age=raw_input("Enter your age:")
cust_height=raw_input("Enter your Height:")
print "Customer Name is:",cust_name
print "Customer Age is:",Cust_age
print "customer Height:",cust_height

Enter your name:Arun
Enter your age:30
Enter your Height:5.6
 Customer Name is: Arun
Customer Age is: 30
customer Height: 5.6

In [ ]:
# Name,age, Height from customer and o/p insert into customer(name,age,height) values ('anil kumar',age,height)
cust_name=raw_input("Enter your name:")
Cust_age=raw_input("Enter your age:")
cust_height=raw_input("Enter your Height:")
print "Customer Name is:",cust_name
print "Customer Age is:",Cust_age
print "customer Height:",cust_height
print "insert into customer (name,age,height) values ()"

In [3]:
# Print 'hello',I am in "Hyderabad".
print ("'",+hello,"'",",","I am in","\"",+Hyderabad,"\"")

NameError: name 'hello' is not defined

In [4]:
# Print 'hello',I am in "Hyderabad".
print ("'",+"hello","'",",","I am in","\"",+"Hyderabad","\"")

TypeError: bad operand type for unary +: 'str'

In [5]:
# Print 'hello',I am in "Hyderabad".
print ("'","hello","'",",","I am in","\"","Hyderabad","\"")

("'", 'hello', "'", ',', 'I am in', '"', 'Hyderabad', '"')

In [6]:
# Print 'hello',I am in "Hyderabad".
print "'hello', Iam in \"hyderabad\""

'hello', Iam in "hyderabad"

In [ ]:
# Print 'hello',I am in "Hyderabad".
print "'hello', Iam in \"hyderabad\""

In [7]:
print "line1\tline2\nArun\nkumar"
print 'line1\tline2\nArun\nkumar'

line1	line2
Arun
kumar
line1	line2
Arun
kumar

In [8]:
print "line1\\tline2\\nArun\\nkumar"

line1\tline2\nArun\nkumar

In [9]:
print "line1\\tline2\\nArun\\nkumar"
print r"line1\tline2\nArun\nkumar"

line1\tline2\nArun\nkumar
line1\tline2\nArun\nkumar

In [10]:
print "line1\\tline2\\nArun\\nkumar"
print r"line1\tline2\nArun\nkumar"
print r'line1\tline2\nArun\nkumar'

line1\tline2\nArun\nkumar
line1\tline2\nArun\nkumar
line1\tline2\nArun\nkumar

In [11]:
#print cost price of the product=23.456789
cost_price=23.45678
print "cost pricce of the product:",cost_price
print "cost pricce of the product:"+str(cost_price)

cost pricce of the product: 23.45678
cost pricce of the product:23.45678

In [12]:
# Format Specifiers %f
#print cost price of the product=23.456789
cost_price=23.45678
print "cost pricce of the product:%f",cost_price
print "cost pricce of the product:%f"%cost_price

cost pricce of the product:%f 23.45678
cost pricce of the product:23.456780

In [13]:
# Format Specifiers %f
#print cost price of the product=23.456789
cost_price=23.45678
print "cost pricce of the product:%f"%cost_price
print "cost pricce of the product:%.2f"%cost_price

cost pricce of the product:23.456780
cost pricce of the product:23.46

In [14]:
# Format Specifiers %f
#print cost price of the product=23.456789
cost_price=23
print "cost pricce of the product:%f"%cost_price
print "cost pricce of the product:%.2f"%cost_price

cost pricce of the product:23.000000
cost pricce of the product:23.00

In [15]:
# Format Specifiers %f
#print cost price of the product=23.456789
cost_price=23.456789
print "cost pricce of the product:%d"%cost_price
print "cost pricce of the product:"+str(int(cost_price))

cost pricce of the product:23
cost pricce of the product:23

In [16]:
#print person Name:Anil kumar,Weight:23, height:5.67
name="Arun Kumar"
weight=23
height=5.67
print  "Person Name:%s" name

SyntaxError: invalid syntax (<ipython-input-16-b2106fcccac7>, line 5)

In [17]:
#print person Name:Anil kumar,Weight:23, height:5.67
name="Arun Kumar"
weight=23
height=5.67
print  "Person Name:%s",name

Person Name:%s Arun Kumar

In [18]:
#print person Name:Anil kumar,Weight:23, height:5.67
name="Arun Kumar"
weight=23
height=5.67
print  "Person Name:%s"% name

Person Name:Arun Kumar

In [19]:
#print person Name:Anil kumar,Weight:23, height:5.67
name="Arun Kumar"
weight=23.57
height=5.67
print  "Person Name:%s"% name
print  "Person Name:%d"% weight

Person Name:Arun Kumar
Person Name:23

In [20]:
#print person Name:Anil kumar,Weight:23, height:5.67
name="Arun Kumar"
weight=23.57
height=5.67
print  "Person Name:%s"% name
print  "Person Name:%d"% weight
print  "Person Name:%f"% height

Person Name:Arun Kumar
Person Name:23
Person Name:5.670000

In [21]:
#print person Name:Anil kumar,Weight:23, height:5.67
name="Arun Kumar"
weight=23.57
height=5.67
print  "Person Name:%s"% name
print  "Person Weight:%d"% weight
print  "Person Height:%f"% height
print "Person Details (name, wight, height) values (%s,%d,%f)"% (name, weight, height)

Person Name:Arun Kumar
Person Weight:23
Person Height:5.670000
Person Details (name, wight, height) values (Arun Kumar,23,5.670000)

In [22]:
#print person Name:Anil kumar,Weight:23, height:5.67
name="Arun Kumar"
weight=23.57
height=5.67
print  "Person Name:%s"% name
print  "Person Weight:%d"% weight
print  "Person Height:%f"% height
print "Person Details (name, wight, height) values (%s,%d,%f)"% (name, weight, height)
print "Person name:%s, Weight:%d,Height:%.2f"%(name, weight,height)

Person Name:Arun Kumar
Person Weight:23
Person Height:5.670000
Person Details (name, wight, height) values (Arun Kumar,23,5.670000)
Person name:Arun Kumar, Weight:23,Height:5.67

In [23]:
# converting small letter into capital letter, this will work for only single character
letter=raw_input("Enter sinle letter")
print letter

Enter sinle lettera
a

In [24]:
# converting small letter into capital letter, this will work for only single character
letter=raw_input("Enter sinle letter")
print chr(ord("letter")-32)

Enter sinle lettera

TypeError: ord() expected a character, but string of length 6 found

In [ ]:
# converting small letter into capital letter, this will work for only single character
letter=raw_input("Enter sinle letter")
print chr(ord(letter)-32)