In [1]:
# Print a file numbers 1, 2 ,3 4,5
range(10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
range(5,10)

[5, 6, 7, 8, 9]

In [3]:
#increment by 2
range(1,10,2)

[1, 3, 5, 7, 9]

In [4]:
range (89,10,2)

[]

In [5]:
range(11,5,2)

[]

In [6]:
range(11,20,2)
range(80,100,3)

[80, 83, 86, 89, 92, 95, 98]

In [7]:
#range works for only Integers
range ("a","b")

TypeError: range() integer end argument expected, got str.

In [8]:
range(10,1,-1)

[10, 9, 8, 7, 6, 5, 4, 3, 2]

In [9]:
print "Program Started"
for i in "python":
    print i
print "other statements in program"
print "program ended"

Program Started
p
y
t
h
o
n
other statements in program
program ended

In [18]:
print "Program Started"
for i in [1,23,45]:
    print "\tIteration started"
    print "\tValue:",i
    print "\t",type(i)
    print "\tIteration Ended"
print "other statements in program"
print "program ended"

Program Started
	Iteration started
	Value: 1
	<type 'int'>
	Iteration Ended
	Iteration started
	Value: 23
	<type 'int'>
	Iteration Ended
	Iteration started
	Value: 45
	<type 'int'>
	Iteration Ended
other statements in program
program ended

In [22]:
print "Program Started"
for i in ["a","b",3,4.5]:
    print "\tIteration started"
    print "\tValue:",i
    print "\t",type(i)
    print "\tIteration Ended"
print "other statements in program"
print "program ended"

Program Started
	Iteration started
	Value: a
	<type 'str'>
	Iteration Ended
	Iteration started
	Value: b
	<type 'str'>
	Iteration Ended
	Iteration started
	Value: 3
	<type 'int'>
	Iteration Ended
	Iteration started
	Value: 4.5
	<type 'float'>
	Iteration Ended
other statements in program
program ended

In [25]:
# Program to print 1 to 10
for i in range(1,11,1):
    print i

1
2
3
4
5
6
7
8
9
10

In [4]:
# Program to print 1 to 10 in reverse
for i in range(10,0,-1):
    print i

10
9
8
7
6
5
4
3
2
1

In [5]:
# Program to print 1 to 10 in reverse
for i in range(10,-1,-1):
    print i

10
9
8
7
6
5
4
3
2
1
0

In [6]:
# Program to print 1 to 10 in reverse
for i in range(10,-2,-1):
    print i

10
9
8
7
6
5
4
3
2
1
0
-1

In [10]:
# Program to print Even Numbers
for i in range(2,11,2):
    print i

0
2
4
6
8
10

In [12]:
# Program to print odd Numbers
for number in range(1,11,2):
    print number

1
3
5
7
9

In [13]:
# Program to print A to Z
for number in range(65,91,1):
    print number
    print chr(number)

65
A
66
B
67
C
68
D
69
E
70
F
71
G
72
H
73
I
74
J
75
K
76
L
77
M
78
N
79
O
80
P
81
Q
82
R
83
S
84
T
85
U
86
V
87
W
88
X
89
Y

In [21]:
# Program to print A to Z
for number in range(ord("A"),ord("Z")+1,1):
    #print number
    print chr(number)

A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y
Z

In [20]:
# Program to print A to Z
for number in range(ord("A"),ord("Z")+1,0):
    print number
    print chr(number)

ValueError: range() step argument must not be zero

In [33]:
#Homework
min_alpha=raw_input("Enter a MIN Alpha:")
max_alpha=raw_input("Enter a MAX Alpha:")
if min_alpha<max_alpha:
    for i in range(ord(min_alpha),ord(max_alpha)+1):
        print chr(i)
elif min_alpha>max_alpha:
    for i in range(ord(min_alpha),ord(max_alpha)-1,-1):
        print chr(i)
print "Thank you"

Enter a MIN AlphaD
Enter a MAX AlphaA
D
C
B
A
Thank you

In [39]:
# Instead of Wriing FOR lOOPS, Prepare a Range
min_alpha=raw_input("Enter a MIN Alpha:")
max_alpha=raw_input("Enter a MAX Alpha:")
if min_alpha<max_alpha:
    req_range=range(ord(min_alpha),ord(max_alpha)+1)
    for i in req_range:
        print chr(i)
elif min_alpha>max_alpha:
    for i in range(ord(min_alpha),ord(max_alpha)-1,-1):
        print chr(i)
print "Thank you"

Enter a MIN Alpha:A
Enter a MAX Alpha:D
A
B
C
D
Thank you

In [44]:
L=[12,34,56,-78,45,37,24]
i=L[0]
for i
while

34

In [46]:
L=[12,34,56,-78,45,37,24]
for i in L:
    print i,
    if i>0:
        if i%2==0:
            print "Even"
        else:
            print "odd"
    else:
        print "It may be zero or Negatvie value"

12 Even
34 Even
56 Even
-78 It may be zero or Negatvie value
45 odd
37 odd
24 Even